/* 

.item{
    width: 25px;
    height: 25px;
    background-color:peachpuff;
    border-radius: 3px;
    text-align: center;
    padding:30px;
    font-size: 25px;







}
.container{
    display:flex;
    border: 2px solid black;
    justify-content: flex-end;
    flex-direction:row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    
    

}

#item-1{
    flex-grow: 4;

} */

.square{
    width: 25px;
    height: 25px;
    background-color:peachpuff;
    border-radius: 3px;
    text-align: center;
    padding:30px;
    font-size: 25px;

}

@keyframes spin{
    0%{
    }
    50%{ transform: rotate(0);
        scale: 2;
    border-radius: 0;
     }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;

     }
        }
.square{
    animation-timing-function: ease-in-out;
    animation-name: spin;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
    

