/* 

.item{
    width: 25px;
    height: 25px;
    background-color:peachpuff;
    border-radius: 3px;
    text-align: center;
    padding:30px;
    font-size: 25px;







}
.container{
    display:flex;
    border: 2px solid black;
    justify-content: flex-end;
    flex-direction:row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    
    

}

#item-1{
    flex-grow: 4;

} */
 :root{
    --color-purple: #66326b;
    --color-peachpuff: #ffdab9;
 }

.item{
    width: 25px;
    height: 25px;
    background-color:peachpuff;
    border-radius: 3px;
    text-align: center;
    padding:30px;
    font-size: 25px;

}

@keyframes spin{
    0%{
    }
    50%{ transform: rotate(0);
        scale: 2;
    border-radius: 0;
     }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;

     }
        }
/* .item{
    animation-timing-function: ease-in-out;
    animation-name: spin;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
     */

@keyframes moveshape{
    0%{ transform: translateX(0px);
        background-color: purple;
        border-radius: 0;

      }
     25%{ background-color: black;
    
    
     }
     50%{ transform: translateX(300px);
        transform:scale(2);

     }
     75%{ border-radius: 50;

     }
     100%{ transform: translateX(600px);
        background-color: rosybrown;

     }

}
.square{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  


}
.item{ animation: moveshape 5s infinite;

}