body {
  font-family: Verdana;
  font-size: 2em;
}

#button {
  display: flex;
  justify-content: center;
  color: rgb(48, 25, 52);
  background-color: antiquewhite;
  text-decoration: none;
}

#myh1 {
  display: flex;
  justify-content: center;
}

#label {
  display: flex;
  justify-content: center;
}
